.transactionsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  width: 35rem;
}

@media (max-width: 950px) {
  .transactionsList {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 35rem) {
  .noCard {
    width: 100%;
  }
}