main {
  width: 90%;
  max-width: 62.5rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 950px) {
  main {
    flex-direction: column;
  }
}

aside {
  width: 22.7rem;
}

@media (max-width: 1024px) {
  aside {
    width: 35%;
  }
}

@media (max-width: 950px) {

  aside,
  section {
    width: 100%;
  }

  section {
    margin-bottom: 1.5rem;
  }
}